<h2 style="margin-top: 15px; margin-bottom: 25px;">Inicia sesión</h2>

<form action="/login" method="post">
<div class="mb-3">
    <label class="form-label" for="email">Correo electrónico:</label>
    <input class="form-control" type="email" name="email">
</div>
<div class="mb-3">
    <label class="form-label" for="password">Password:</label>
    <input class="form-control" type="password" name="password">

</div>

    <button class="btn btn-primary mb-3">Iniciar sesión</button>
    
    <br>

    {{errorMessage}}
</form>