<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link rel="icon" type="image/x-icon" href="../images/favicon.ico">

   </head>

   <body>

      <nav>
         <a href="/">Inicio</a>

         {{#if userIsActive}}
            <a href="/profile">Perfil</a>
            <a href="/games/create">Añade tu juego</a>
            <br>
            <br>
            <form action="/login/logout" method="post">
               <button>Cerrar sesión</button>
            </form>
            <br>
         {{else}}
            <a href="/login">Log in</a>
            <a href="/signup">Sign up</a>
         {{/if}}

         {{#if userIsAdmin}}
            <a href="/user/list">Lista de usuarios</a>
            <a href="/user/create">Crear usuarios</a>
         {{/if}}

      <br>
      <br>
      <form action="/games/listSearch" method="POST">
         <input type="text" name="buscador" placeholder="Busca el juego que quieras">
         <button> Buscar </button>
      </form>
      </nav>

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>