<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
      
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/style.css" />

   </head>

   <body>

      <nav class="navbar navbar-expand-lg d-flex justify-content-between" style="margin-right: 50px;">
         <a class="navbar-brand" href="/">Inicio</a>


         {{#if userIsAdmin}}
            <a class="navbar-brand" href="/user/list">Lista de usuarios</a>
            <a class="navbar-brand" href="/user/create">Crear usuarios</a>
         {{/if}}
      <form class="d-flex" role="search" action="/games/listSearch" method="POST">
         <input style="width: 190%;" class="form-control me-2" type="text" name="buscador" placeholder="Busca el juego que quieras">
         <button class="btn btn-outline-success"> Buscar </button>
      </form>

               {{#if userIsActive}}
               <li class="nav-item dropdown" style="list-style-type:none;">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Mi cuenta
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <li><a class="dropdown-item" href="/profile">Perfil</a></li>
                     <li><a class="dropdown-item" href="/games/create">A침adir un juego</a></li>
                     <li><hr class="dropdown-divider"></li>

                     <li>
                        <form action="/login/logout" method="post">
                           <button class="dropdown-item">Cerrar sesi칩n</button>
                        </form>
                     </li>
                  </ul>
               </li>

            {{!-- <a class="navbar-brand" href="/profile">Perfil</a>
            <a class="navbar-brand" href="/games/create">A침ade tu juego</a>
            <br>
            <br>
            <form action="/login/logout" method="post">
               <button>Cerrar sesi칩n</button>
            </form>
            <br> --}}
         {{else}}
            <div>
               <a class="navbar-brand" href="/login">Log in</a>
               <a class="navbar-brand" href="/signup">Sign up</a>

            </div>
         {{/if}}


      </nav>

      {{{body}}}

      <script src="/js/script.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
   </body>

</html>