<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
      
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/style.css" />

   </head>

   <body>

      <nav class="navbar navbar-expand-lg bg-light">
         <a class="navbar-brand" href="/">Inicio</a>

         {{#if userIsActive}}
            <a class="navbar-brand" href="/profile">Perfil</a>
            <a class="navbar-brand" href="/games/create">Añade tu juego</a>
            <br>
            <br>
            <form action="/login/logout" method="post">
               <button>Cerrar sesión</button>
            </form>
            <br>
         {{else}}
            <a class="navbar-brand" href="/login">Log in</a>
            <a class="navbar-brand" href="/signup">Sign up</a>
         {{/if}}

         {{#if userIsAdmin}}
            <a class="navbar-brand" href="/user/list">Lista de usuarios</a>
            <a class="navbar-brand" href="/user/create">Crear usuarios</a>
         {{/if}}
      <br>
      <br>
      <form class="d-flex" role="search" action="/games/listSearch" method="POST">
         <input class="form-control me-2" type="text" name="buscador" placeholder="Busca el juego que quieras">
         <button class="btn btn-outline-success"> Buscar </button>
      </form>
      </nav>

      {{{body}}}

      <script src="/js/script.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
   </body>

</html>