<h1> Añade tu juego </h1>

<form action="/games/create" method="POST">
    <label for="titulo"> Titulo: </label>
    <input type="text" name="titulo" />
    <br />
    <label for="descripcion"> Descripción: </label>
    <input type="text" name="descripcion" />
    <br />
    <label for="url"> URL: </label>
    <input type="text" name="url" />
    <br />

    <button> Añadir </button>
    
</form>

