<h2>Crea un nuevo usuario</h2>

<form action="/user/create" method="post">
<div class="mb-3">
    <label class="form-label" for="username">Username: </label>
    <input  class="form-control" type="text" name="username">
</div>
<div class="mb-3">
    <label class="form-label" for="email">Email: </label>
    <input class="form-control" type="text" name="email">
</div>
<div class="mb-3">
    <label class="form-label" for="password">Password: </label>
    <input class="form-control" type="password" name="password">
</div>
<div class="mb-3">
    <label class="form-label" for="admin">Admin: </label>
    <select class="form-select form-select-lg mb-3" name="admin">
        <option value="false">false</option>
        <option value="true">true</option>
     </select>
</div>
    <button class="btn btn-primary mb-3">Guardar</button>
</form>
<br>
    <p style="color:red">{{errorMessage}} </p>
