<h2>Edit user detail</h2>

<form action="/user/{{userEdit._id}}/edit" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="username" value="{{userEdit.username}}">
    <br>
    <br>
    <label for="email">Correo electrónico: </label>
    <input type="email" name="email" value="{{userEdit.email}}">
    <br>
    <br>
    <label for="admin">Administrador: </label>
    {{#if userEdit.admin}}
        <select name="admin">
            <option value="true">true</option>
            <option value="false">false</option>
        </select>
    {{else}}
        <select name="admin">
            <option value="false">false</option>
            <option value="true">true</option>
        </select>
    {{/if}}
    <br>
    <br>
    <button>Guardar cambios</button>
</form>