<h2 style="margin-top: 15px; margin-bottom: 25px;">Lista de usuarios</h2>

<a href="/user/create">
    <button class="btn btn-primary">Crea un nuevo usuario</button>
</a>

<br>
<br>

{{#each userList}}
    <a href="/user/{{this._id}}">
        <li>{{this.username}}</li>
    </a>
    <li>{{this.email}}</li>
    <br>
{{/each}}